exclude docs
recursive-exclude docs *
exclude tests
recursive-exclude tests *
exclude .circleci
recursive-exclude .circleci *
recursive-exclude ** __pycache__
recursive-exclude **/__pycache__ *

exclude .pre-commit-config.yaml
exclude .readthedocs.yml
exclude .flake8
exclude .scss-lint.yml
exclude tox.ini
exclude git_rebase_theme_branches.sh

include LICENSE
include README.md
include CHANGELOG.md
include web-compile-config.yml

recursive-include sphinx_panels/scss *
recursive-include sphinx_panels/_css *
recursive-include sphinx_panels/data *
